*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

background:#1e1e2f;
color:white;

}

/* HEADER */

header{

display:flex;
justify-content:space-between;
align-items:center;

padding:15px 5%;

background:#111;

}

.logo{

display:flex;
gap:10px;
align-items:center;

}

.logo img{

width:40px;

}

nav{

display:flex;
gap:20px;

}

nav a{

color:white;
text-decoration:none;

}

.hamburger{

display:none;
font-size:28px;
cursor:pointer;

}

#themeToggle{

padding:8px 12px;
cursor:pointer;

}

/* HERO */

.hero{

text-align:center;
padding:60px 20px;

}

.hero h1{

font-size:3rem;
color:#ffa500;

}

/* TEAM CARDS */

.teams{

padding:50px 5%;
text-align:center;

}

.team-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(150px,1fr));

gap:20px;

}

.team-card{

background:#282968;

padding:40px;

border-radius:12px;

transition:0.3s;

font-weight:bold;

}

.team-card:hover{

transform:scale(1.1);
background:#ffa500;

}

/* TABLE */

.table{

padding:50px 5%;
text-align:center;

}

table{

width:100%;
max-width:600px;
margin:auto;

border-collapse:collapse;

}

th,td{

padding:10px;

border-bottom:1px solid gray;

}

/* PLAYER CARDS */

.players{

padding:50px 5%;
text-align:center;

}

.player-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(200px,1fr));

gap:20px;

}

.player-card{

background:#333;

padding:30px;

border-radius:12px;

transition:0.3s;

}

.player-card:hover{

transform:translateY(-10px);
background:#ffa500;

}

/* FOOTER */

footer{

text-align:center;

padding:20px;

background:#111;

}

/* DARK MODE */

.dark{

background:white;
color:black;

}

.dark header{

background:#eee;

}

.dark .team-card{

background:#ddd;

}

.dark .player-card{

background:#ddd;

}

/* MOBILE */

@media(max-width:768px){

nav{

position:absolute;

top:70px;

right:0;

background:#111;

flex-direction:column;

width:100%;

display:none;

text-align:center;

}

nav.show{

display:flex;

}

.hamburger{

display:block;

}

}